.forgot-confirm{
  margin : 0;
  padding : 0;
  position: relative;
  background-color : #31353a;
  height: 100%;
  align-content: flex-start;

  .forgot-confirm-nav{
    height : 65px;
    background-color: #23292d;

    .forgot-pass-nav-block{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      h2{
        text-transform: uppercase;
        font-size : 17px;
        color : white;
        font-weight: 400;
        margin-bottom: 0;

      }
    }
  }
  .forgot-confirm-img{
    margin-top: 59px;
    img{
      display: block;
      margin: auto;
      height: auto;
      width: 97px;
    }
  }
  .forgot-confirm-text{
    margin-top: 50px;
    p{
      color: white;
      text-align: center;
      font-size: 14px;
    }
  }
  .forgot-confirm-button{
    margin-top: 10px;
    button{
      height: 42px;
      width: 66.5%;
      margin: auto;
      display: block;
      border-radius: 7px;
      background-color : #41cece;
      color : white;
    }
  }
  .forgot-confirm-wave{
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    img{
      width : 100%;
      height: auto;
    }
  }
}

.dev-fon{
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  img{
    width:100%;
    height : auto;
  }
}
