<div class="row forgot-confirm">
  <!--<div class="col-12 dev-fon">
    <img src="assets/images/request-thank.png">
  </div>-->
  <div class="col-12 forgot-confirm-nav">
    <div class="forgot-pass-nav-block">
      <h2>your password has been reset</h2>
    </div>


  </div>
  <div class="col-12 forgot-confirm-img">
    <img src="assets/images/paper-plane.png">
  </div>
  <div class="col-12 forgot-confirm-text">
    <p>Your request has been send and<br>we will contact you as soon
     as possible.</p>
  </div>
  <div class="col-12 forgot-confirm-button">
    <button mat-raised-button routerLink="/sign-in">Close</button>
  </div>
  <div class="forgot-confirm-wave">
    <img src="assets/images/waves.png">
  </div>
</div>
