<div class="row forgot-pass">
  <!--<div class="col-12 dev-fon">
    <img src="assets/images/forgot.png">
  </div>-->
  <div class="col-12 forgot-pass-nav">
    <div class="forgot-pass-nav-block">
      <a routerLink="/sign-in">
        <mat-icon color="primary" svgIcon="left-arrow"></mat-icon>
      </a>
      <h2>forgot password</h2>
    </div>


  </div>
  <div class="col-12 forgot-pass-title">
    <h2>Fill in your email address</h2>
  </div>
  <div class="col-12 forgot-pass-form">
    <form name="forgot-email">
      <mat-form-field hideRequiredMarker="true" floatLabel="never" class="example-full-width">
        <input name="email" required type="email" matInput placeholder="Email address">
      </mat-form-field>

      <button type="submit" mat-raised-button>Reset password</button>
      <a routerLink="/forgot-password-confirm" mat-raised-button>Reset password</a>
    </form>
  </div>
  <div class="forgot-pass-wave">
    <img src="assets/images/waves.png">
  </div>
</div>
