.forgot-pass{
  margin : 0;
  padding : 0;
  position: relative;
  background-color : #31353a;
  height: 100%;
  align-content: flex-start;

  .forgot-pass-nav{
    height : 65px;
    background-color: #23292d;

    .forgot-pass-nav-block{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      a{
        position: absolute;
        left: 6px;
        top: 14px;
        mat-icon{
          width: 38px;
          height: auto;
          svg{
            fill : #41cece;
          }
        }
      }
      h2{
        text-transform: uppercase;
        font-size : 17px;
        color : white;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
  .forgot-pass-title{
    margin-top: 54px;
    h2{
      font-size : 19px;
      color : white;
      text-align : center;
      font-weight: 400;
      margin-bottom : 0;
    }
  }
  .forgot-pass-form{
    display: block;
    width : 100%;
    height: 30%;
    form[name='forgot-email']{
      width : 80%;
      margin: auto;
      padding-top : 27px;
      height : 100%;

      >*{
        font-size : 15px;
        color : white;
      }

      mat-form-field {
        height: 53px;
        div.mat-input-wrapper.mat-form-field-wrapper{
          >.mat-input-flex.mat-form-field-flex{
            >.mat-input-infix.mat-form-field-infix{
              >input, span>label{
                padding-left : 3px;
              }

              >input{
                color : #bebfbf;
                caret-color : #f7616c;
              }

              >span>label{
                color : #5a5d61;
              }
            }
          }

          >.mat-input-underline{
            background-color : #5a5d61;
            > span{
              background-color: #f7616c;
            }

          }
        }

      }

      >button{
        height: 42px;
        width: 83.5%;
        margin: 7% auto 0 auto;
        display: none;
        border-radius: 7px;
        background-color : #f7616c;
      }

      >a{
        height: 42px;
        width: 83.5%;
        margin: 7% auto 0 auto;
        display: block;
        border-radius: 7px;
        background-color : #f7616c;
        padding-top: 2px;
        text-decoration: none;
      }

      .example-full-width {
        width: 100%;
      }
    }
  }
  .forgot-pass-wave{
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;


    img{
      width : 100%;
      height: auto;
    }
  }
}

.dev-fon{
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  img{
    width:100%;
    height : auto;
  }
}

@media screen and (orientation : landscape){
  .forgot-pass{
    .forgot-pass-wave{
      position: relative;
    }
    .forgot-pass-form{
      padding-bottom: 40px;
    }
  }

}
