.search-company{
  height : 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  margin: 0;
  position: absolute;
  width: 100%;
  .company-title-image{
    padding: 0;
    width: 100%;
    flex-grow: 2;
    position: relative;
    overflow: hidden;
    .title-image{
      width : 100%;
      height : auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .company-logo-image{
    a{
      img{
        display: block;
        margin: auto;
        max-height: 150px;
        max-width: 150px;
        width: auto;
        height: auto;
      }
    }
  }
}
