<div class="row forgot-confirm">
  <!--<div class="col-12 dev-fon">
    <img src="assets/images/forgot-confirm.png">
  </div>-->
  <div class="col-12 forgot-confirm-nav">
    <div class="forgot-pass-nav-block">
      <h2>your password has been reset</h2>
    </div>


  </div>
  <div class="col-12 forgot-confirm-img">
    <img src="assets/images/lock.png">
  </div>
  <div class="col-12 forgot-confirm-text">
    <p>To reset your password, open the link<br>we sent you by email and try
    to sign-in again.</p>
  </div>
  <div class="col-12 forgot-confirm-button">
    <button mat-raised-button routerLink="/sign-in">Close</button>
  </div>
  <div class="forgot-confirm-wave">
    <img src="assets/images/waves.png">
  </div>
</div>
